body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    
}

/* deleted scroll from the page to keep it only on chat*/
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.window {
    display: flex;
    height: 93vh;
    margin-top: 7vh;
}

.sidebar {
    width: 30vh;
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

.contact-list-header{
    background-color: #075E54;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact{
    display:flex;
    width:100%;
    padding-left: 20px;
    height: 5vh;
    align-items: center;
    font-size: 16px;
}


.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    width: calc(100% - 30vh);
    max-height: calc(100vh - 7vh);
    overflow: scroll;
}

.chat-header {
    background-color: #075E54;
    color: #fff;
    padding: 12px 12px 12px 20px;
    display: block;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    position: fixed;
    top: 7vh;
    z-index: 100; 
}

.contact-info {
    display: flex;
    align-items: center;
}

#user-list {
    padding: 0;
    margin: 0;
    margin-left: 5px;
    font-size: 14px;
}

.contact-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

h2 {
    
    padding: 5px;
    margin: 0;

    color: #fff;
}

.actions button {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    margin-left: 15px;
}

.icon-button {
    width:30px;
    height: 30px;
    margin-right: 10px;
}

.chat-messages {
    padding: 10px;
    overflow-x: hidden;
    flex: 1; 
    overflow-y: auto;
    margin: 7vh 0vh;
    max-height: calc(100vh - 7vh - 80px);
}

.message {
    display: flex;
    margin-bottom: 5px;
    padding: 5px;
}

.received {
    margin-left: 10px;
}

.sent {
    margin-right: 10px;
    justify-content: flex-end;
}

.message-content {
    justify-content: space-between;
    align-items: center;
    display: block;
    min-width: 70px;
    max-width: 70%;
    padding: 5px 10px 0 10px;
    border-radius: 15px;
    background-color: #ECE5DD; 
    font-size: 16px;
    color: #000;
    word-wrap: break-word;
}

.sent .message-content {
    background-color: #DCF8C6;
}

.sender-name{
    color: green
}

.timestamp {
    display: block;
    font-size: 12px;
    color: #888;
    padding: 0;
    margin-left: 15px;
    align-items: end;
    align-self: flex-end;
}

.message-text {
    display: flex;
    justify-content: space-between;
}

.chat-input {
    display: flex;
    align-items: center;
    padding: 12px;
    border-top: 1px solid #ccc;

    justify-content: space-between;
    width: 85%;
    position: fixed;
    bottom: 0;
    z-index: 100; 
}

.message-notification{
    width: max-content;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 2px;
    border-radius: 5px;
    resize: none;
    font-size: 16px;
}

.send-button {
    size: 30px;
    color: #fff;
    border: none;
    border-radius: 50%;
    margin: 0px 30px;
    cursor: pointer;
}

.send-button:hover {
    background-color: #128C7E;
}
